# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Build outputs
dist
build

# Turbo
.turbo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Vercel
.vercel
